
<ion-header>
  <ion-navbar>
    <ion-title text-center><ion-icon [name]="quoteGroup?.icon" item-left></ion-icon> {{quoteGroup?.category | uppercase}} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce >
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
    <ion-card-header> #{{i+1}}</ion-card-header>
    <ion-card-content no-bounce class="no-scroll">
      <p>"{{quote.text}}"</p>
      <p text-right class="author">{{quote.person}}</p>
    </ion-card-content>  
      <ion-row  no-bounce class="no-scroll">
        <ion-col text-right>
          <button ion-button clear (click)="onAddToFavorite(quote)" *ngIf="!isFavorite(quote)"><ion-icon name="star" item-left></ion-icon></button>
          <button ion-button clear (click)="onRemoveToFavorite(quote)" *ngIf="isFavorite(quote)" color="danger">Unfavorite</button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
