.scroll-content{
    padding:0 !important;
    
}
.item-inner{
    border-color: #ffbb00 !important;
}

.leftPadding{
    padding-left:10px !important;
}

ion-list .item{
   border-color: #ffbb00 !important; 
}